<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <title>Money Manager</title>
  </head>
  <body class="bg-gray-100 dark:bg-gray-800 p-5">
    <div class="container mx-auto w-80 h-full overflow-auto">
      <%- include('partials/title.ejs') %>

        <div>
          <h2 class="mt-10 mb-8 font-poppins font-bold text-gray-700 text-2xl">
            Pay by card
          </h2>
          <!-- CARD SECTION -->
          <div
            class="
              text-white
              tracking-wider
              text-2xl
              font-poppins font-semibold
              w-full
              h-36
              relative
              px-2
              bg-gradient-to-tl
              from-green-200
              to-blue-500
              rounded-lg
            "
          >
            <span class="block p-5">My Wallet</span>
            <span class="block p-5 absolute bottom-0 right-0"
              >Rp<span id="money">0</span></span
            >
          </div>
        </div>

        <div>
          <h2 class="mt-10 mb-8 font-poppins font-bold text-gray-700 text-2xl">
            Transactions
          </h2>
        </div>

        <% transactions.forEach( transaction => { %>
          <div class="flex flex-row justify-between p-2">
            <a href="/transaction/edit/<%= transaction.id %>">Edit</a>
            <a href="/transaction/delete/<%= transaction.id %>">Delete</a>
          </div>
          <div class="font-poppins w-full h-36 rounded-lg grid grid-cols-2 grid-rows-4 mb-4 p-4 bg-gradient-to-tl from-yellow-300 to-green-300">
            <span class="block text-xs self-end"><%= transaction.day %></span>
            <span class="block text-xl row-span-2 self-center place-self-end"><%= transaction.wallet_id %></span>
            <span class="block text-xs"><%= transaction.month %></span>
            <span class="block self-end"><%= transaction.category %></span>
            <span class="block text-xl row-span-2 self-center place-self-end"><%= transaction.amount %></span>
            <span class="block text-sm text-gray-700"><%= transaction.note %></span>
          </div>
        <% }) %> 
      </div>

    </div>

    <%- include('partials/transactionFooter') %> 
  </body>
</html>
